<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BBQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <BBQ.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductQueues" serializeAs="String">
                <value>http://bbecweb:8011/ProductQueues.xml</value>
            </setting>
            <setting name="QueueDetails" serializeAs="String">
                <value>http://bbecweb:8011/QueueDetails.xml</value>
            </setting>
            <setting name="ProductPath" serializeAs="String">
                <value>http://bbecweb:8011/Product.xml</value>
            </setting>
            <setting name="PublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NewInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondsTillExtended" serializeAs="String">
                <value>120</value>
            </setting>
        </BBQ.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
